# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Plans & local files
tfplan
# Keep the lockfile committed:
!.terraform.lock.hcl
